html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Video */
video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/* Snap a Picture Logic */
.start {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
}

.start-button {
    margin-top: 40%;
    height: 20%;
    width: 30%;
    margin-left: 35%;
}
