<!doctype html>
<head>
    <title>Partytime!</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-bigtext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/magic.js') }}"></script>
</head>

<body>
    <video class="video" autoplay></video>
    <div class="flash"></div>
    <div class="shadow"></div>

    <div class="start">
        <button class='start-button' type='button'>Take Photo</button>

        <!-- Tutorial Stuff -->
        <canvas id="snapshot" style="display:none"></canvas>
        <div id="filmroll">
            <img class="photo-results">

            <div class="share-buttons">
                <div class="button twitter" class="button">
                    Share on Twitter!
                </div>
                <div class="button reset">
                    Take Another!
                </div>
            </div>
        </div>

        <div class="countdown-number three">3</div>
        <div class="countdown-number two">2</div>
        <div class="countdown-number one">1</div>
        <div class="countdown-number go">Go!</div>
    </div>

</body>
